*.exe            binary
*.dll            binary
*.gif            binary
*.png            binary
*.ico            binary

*.txt            text    eol=crlf
*.csproj         text    eol=crlf
*.cs             text    eol=crlf
*.sln            text    eol=crlf
*.config         text    eol=crlf
*.manifest       text    eol=crlf
README.md                eol=crlf
